/* main.css */
body {
	font-family: arial;
	background-image: url("book-fair.jpg");
	background-size: cover;

}
div.wrapper {
	max-width: 1366px;
	margin: 0 auto;
}
.button {
    background-color: #A0522D; /* Brown */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #2E782D;
}

.button1:hover {
    background-color: #2E782D;
    color: white;
}
nav {
    text-align: center;
}
.button2 {
    background-color: #2E782D;
    color: white;
    border: 2px solid #2E782D;
}
.button2:hover {
    background-color: white;
    color: black;
}

header {
    border: medium;
    margin: 2px;
    padding: 2px;
    background-color: #348049;
}
header h1 {
	font-family: Lucida Calligraphy;
	letter-spacing: 4px;
	font-size: 72px;
	margin-left:0%;
	text-align: center;
}
h2 {
	font-size: 2.8em;
	color: black;
	font-family: Goudy Stout;
	margin-left:0%;
	text-align: center;
}
p {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: black;
    font-size: 1.4em;
}
h3 {
	font-size: 1.5em;
	color: black;
	font-family: Goudy Stout;
}
table, th, td {
    border: 1px solid black;
	border-collapse: collapse;
}
th, td {
    padding: 10px;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: black;
    font-size: 1.4em;
}
footer {
    border: medium;
    margin: 2px;
    padding: 2px;
    background-color: #348049;
    text-align: center;
    position: bottom;
}
